
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}
body{
  margin: 0;
}
#root{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body, input, select, textarea{
  font-size: 1.6rem;
  font-family: Helvetica san-serif;
}
header{
  box-sizing: border-box;
}
a{
  text-decoration: none;
}

.filter-comp{
  overflow-y: ;
  overflow-x: scroll;
}
.filter-cont button{
  width: max-content;
}